* {
    margin: 0px;
    padding : 0px;
    box-sizing: border-box;
}
body, html {
    height: 100%;
}
.img {
    background-image: url("5ff74211273ad2f58ef331f4a79ac72c.jpg");
    filter : blur(0px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
h1 {
    padding: 40px;
    font-size: 50px;
}
.container {
    background: rgba(0, 0, 0, 0.1);
    margin :0px 200px;
    height : 400px;
    width : 900px;
    position : absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
input {
    width: 40%;
    height: 40px;
    background-color: silver;
    border-radius: 10px;
    border: 1px solid silver;
    margin: 10px 0px 18px 0px;
    padding: 0px 10px;
}
.phone {
    width : 65%;
}
#code {
    width : 15%;
}
.inp {
    width: 90%;
    height: 40px;
    background-color: silver;
    border-radius: 10px;
    border: 1px solid silver;
    margin: 10px 0px 18px 0px;
    padding: 0px 10px;
}
select {
    width: 90%;
    height: 40px;
    background-color: silver;
    border-radius: 10px;
    border: 1px solid silver;
    margin: 10px 0px 18px 0px;
    padding: 0px 10px;
}

.left, .right{
    
    height: 70vh;
  }
  .left{
    float: left;
    width: 30%;
  }
  .right{
    float: right;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: space-around;
  }
  .right::-webkit-scrollbar {
    display: none;
  }
  .img2 {
    border-radius: 100px 0px 0px 100px;

  }
  .button {
    width: 120px;
    padding: 10px;
    border-radius: 5px;
    background-color: silver;
    font-size: 1rem;
    transition: 0.5s;
  }
  .button:hover {
    opacity: 0.5;
  }