.container {
    background-color: beige;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    

}

.para {
    background-color : beige;
    width: 100%px;
    height: 100px;
    border: 2px solid blue;
    border-radius: 10px;
    overflow: hidden;
    overflow-wrap: normal;
    overflow: scroll;

}

.container_2 {
    background-color: aqua;

}

.one {
    background-color: azure;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    padding: 50px;
}

.two {
    background-color: beige;
    background-color: azure;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    padding: 50px;
}

.three {
    background-color: azure;
    background-color: azure;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    padding: 50px;
}

.four {
    background-color: beige;
    background-color: azure;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    padding: 50px;
}
a.link {
    color : orange;
}
a:visited {
    color: green;
}
button {
    background-color : aquamarine;
}
.anc {
    background-color: beige;
}
.Google button{
    cursor : pointer;
    
}
.linkedin button {
    cursor : pointer;
} 
.youtube button {
    cursor : pointer;
}
.youtube button:hover {
    color : red;
    background-color: red;
}
.Google button:active {
    color : yellow;
    background-color: yellow;
}
.cool {
    background-color: azure;
}
.un_list li {
    list-style-type: none;
    background-color: aquamarine;
    float : right;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
.un_list li:hover {
    background-color: chocolate;
}
.o_list li {
    background-color: blanchedalmond;

}