* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0);
    margin: 0;
    position: relative;
    overflow: hidden;
    cursor:url("cusor.png"), auto;
}

#stars{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50vh;
    width: 100vw;
}
#diya1 {
    width: 150px;
    height: 150px;
    background-size: cover;
    position: absolute;
    top : -30px;
    left : 260px;
    transform: scale(0.5);

}

#diya2 {
    width: 150px;
    height: 150px;
    background-size: cover;
    position: absolute;
    top : 290px;
    left : 0px;
    transform: scale(0.7);
 
}
.d3 {
    width: 150px;
    height: 150px;
    background-size: cover;
    position: absolute;
    top : 290px;
    left : 530px;
    transform: scale(0.7);
  
}
.d4 {
    width: 150px;
    height: 150px;
    background-size: cover;
    position: absolute;
    top : 100px;
    left : 0px;
    transform: scale(0.6);

}
.d6 {
    width: 150px;
    height: 150px;
    background-size: cover;
    position: absolute;
    top : 100px;
    left : 530px;
    transform: scale(0.6);
 
}
.d5 {
    width: 150px;
    height: 150px;
    background-size: cover;
    position: absolute;
    top : 390px;
    left : 285px;
    transform: scale(0.9);
   
}
#wick1 {
    width: 150px;
    height: 150px; 
    position: absolute;
    top : -50px;
    left : 230px;
   
}
#wick2 {
    width: 150px;
    height: 150px; 
    position: absolute;
    top : 270px;
    left : -50px;
    
}
#wick3 {
    width: 150px;
    height: 150px; 
    position: absolute;
    top : 270px;
    left : 480px;
   
}
#wick4 {
    width: 150px;
    height: 150px; 
    position: absolute;
    top : 80px;
    left : -40px;
   
}
#wick5{
    width: 150px;
    height: 150px; 
    position: absolute;
    top : 370px;
    left : 235px;
  
}
#wick6 {
    width: 150px;
    height: 150px; 
    position: absolute;
    top : 90px;
    left : 490px; 
    
}

.glow {
    height: 150px;
    width: 150px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 5%,rgb(255, 255, 224, 0.8) 5%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    z-index: -1;
    animation: glow-animation 2s infinite;
}
@keyframes glow-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
.star {
    
    display: none;
}

.star.show {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: animated 8s ease-in-out infinite, backgroundmove 16s linear infinite;
}
.star.star1 {
    animation-delay: 0s;
    background: url(star1.png);
}
.star.star2 {
    animation-delay: -1s;
    background: url(star2.png);
}
.star.star3 {
    animation-delay: -2s;
    background: url(star3.png);
}
.star.star4 {
    animation-delay: -3s;
    background: url(star4.png);
}
.star.star5 {
    animation-delay: -4s;
    background: url(star5.png);
}
.star.star6 {
    animation-delay: -5s;
    background: url(star6.png);
}
.star.star7 {
    animation-delay: -6s;
    background: url(star7.png);
}
.star.star8 {
    animation-delay: -7s;
    background: url(star8.png);
}
@keyframes animated {
    0%, 20%, 40%, 60%, 80%, 100% {
        opacity: 0;
    }
    10%, 30%, 50%, 70%, 90%{
        opacity: 1;
    } 
}
@keyframes backgroundmove {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2);
    }
}

  
body {
    margin: 0;
    overflow: hidden;
  }
  
  .floating-lanterns {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
  }
  
  @keyframes float-vertical {
    0% {
      transform: translateY(100vh);
    }
    100% {
      transform: translateY(-100vh);
    }
  }
  
  
  .floating-lantern {
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: cover;
    opacity: 0.7;
    animation-duration: 40s; 
    animation-timing-function: linear;
  }
  
  .vertical {
    background-image: url('istockphoto-1208718612-1024x1024-removebg-preview.png');
    animation: float-vertical 40s infinite;
  }
  
  
 .animation-container {
    
    height: 510px;
    width: 700px;
    border-radius: 50%;
    position: relative;
 }

  .typing-animation {
    background: url('31698955-preview.mp4');
    height: 300px;
    width: 400px;
    text-align: center;
    margin-top: 80px;
    margin-left: 140px;
    word-wrap: break-word;
    position: relative;

  }
  #video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    display: none;
    opacity: 0.8;
   
}
/*#video-bg1 {
    align-self: flex-start;
    z-index: -1;
    transform: scale(0.5);
    
}
#video-bg2 {
    align-self: flex-end;
    z-index: -1;
    transform: scale(0.5);

}*/

  .center-text {
    position: absolute;
    top: 60px;
    margin-top: 40px;
  color: white; 
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  animation: neon-glow 1.5s infinite alternate;
  line-height: 50px;
 

  }
  @keyframes neon-glow {
    0% {
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
                   0 0 10px rgba(255, 255, 255, 0.8),
                   0 0 20px rgba(255, 255, 255, 0.8),
                   0 0 30px rgba(255, 255, 255, 0.8);
    }
    100% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
                   0 0 20px rgba(255, 255, 255, 0.8),
                   0 0 30px rgba(255, 255, 255, 0.8),
                   0 0 40px rgba(255, 255, 255, 0.8);
    }
  }
  
.rs {
    display: none;
    transform: scale(0.85);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
} 
/*#gif {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}*/
h2 {
    font-family: 'Bad Script', cursive;
    display: flex;
    color: transparent;
    font-size: 5vw;
}
h2 span {
    animation: animate 3s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
.hide {
    display: none;
}
@keyframes animate{
    0% {
        color: #fff;
        filter: blur(2px) hue-rotate(0deg);
         text-shadow: 0 0 10px #00b3ff,
         0 0 20px #00b3ff,
         0 0 40px #00b3ff,
         0 0 80px #00b3ff,
         0 0 120px #00b3ff,
         0 0 200px #00b3ff,
         0 0 300px #00b3ff,
         0 0 400px #00b3ff;

    }
    30%, 70% {
        color: #fff;
        filter: blur(2px) hue-rotate(360deg);
         text-shadow: 0 0 10px #00b3ff,
         0 0 20px #00b3ff,
         0 0 40px #00b3ff,
         0 0 80px #00b3ff,
         0 0 120px #00b3ff,
         0 0 200px #00b3ff;

    }
    100% {
        color: transparent;
        box-shadow: none;
        filter: blur(2px) hue-rotate(0deg);
    }
}