body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgba(0, 0, 0, 0.683);
}
.diya {
    left: 227.467px;
     top: 233.333px;
      width: 80px;
       position: absolute; transform: scale(1.25); filter: brightness(0.600225);
}
.animation-container {
    width: 300px;
    height: 300px;
    position: relative;
}
.con {
    height: 250px;
    width: 250px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 10%,rgb(255, 255, 224, 0.8) 10%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    position: absolute;
    animation: glow-animation 1.5s infinite;
    z-index: -1;
}
.animated-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    position: absolute;
    top: 70px;
    left: 110px;
}
@keyframes glow-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
