* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
   display: flex;
   justify-content: center;
   align-items: center;   
}
.trapezium {
  position: relative;
  width: 70px;
  height: 0px; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent; 
  border-top: 120px solid beige; 
  transform-style: preserve-3d;
}
.trapezium div {
  position: absolute;
  top : 0;
  left: 0;
  width: 70px;
  height: 0px; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent; 
  border-top: 120px solid beige;
  transform-style: preserve-3d;
}
.trapezium div span {
  position: absolute;
  top : 0;
  left : 0;
  width: 70px;
  height: 0px; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent; 
  border-top: 120px solid red;
  
}



