*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    padding: 10px;
    background-color: rgb(128, 128, 128, 0.1);
    margin : 10px;
    display : flex;
    justify-content: space-between;
}
.box1 {
    display: flex;
    justify-content: space-between;
}
.box1 button {
    border : none;
    height : 35px;
    width : 245px;
}
.box3{
    display: flex;
    justify-content: space-around;
}
.box4{
    display: flex;
    justify-content: space-around;
}
.box5 {
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
}
.box3 input {
    height : 35px;
    width : 245px;
}
select {
    height : 35px;
    width : 200px;
}
#from2 {
    height : 35px;
    width : 200px;
}
.box2 {
    height : 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box3 input, .box4 input {
    width: 40%;
    height: 40px;
   
    
    border: 1px solid black;
    margin: 10px 0px 18px 0px;
    padding: 0px 10px;
}
select {
    width: 40%;
    height: 40px;
    border: 1px solid black;
    margin: 10px 0px 18px 0px;
    padding: 0px 10px;
}
.img {
    height : 60px;
    width : 60px;
}
main{
    height: 700px;
    width : 1275px;
    position : relative;
}
h1 {
    position : absolute;
    top : 50px;
    right : 260px;
}
.container {
    position : absolute;
    top : 28px;
    left : 39px;
    border : 1px solid black;
    z-index: 1;
    background-color: white;
    height : 500px;
    width : 500px;
    color : blue;
}
.b1 {
    padding-top : 30px;
    display: flex;
    padding-left: 30px;;
    justify-content: center;
    justify-content: space-between;
    height : 100px;
}
.b1 button {
    
    text-align: center;
    height : 40px;
    width: 100px;
    border-radius: 5px;
    padding: 10px;
    background-color: orange;
    color: white;
    font-size: 1rem;
    transition: 0.5s;
}
.b1 .b3 {
    
    text-align: center;
    height : 40px;
    width: 200px;
    font-size: 12px;
    background-color: lightgreen;
    color: white;
    margin-right: 20px ;
    transition: 0.5s;
}
.c2 {
    position : absolute;
    top : 530px;
    left : 39px;
    border : 1px solid black;
    z-index: 1;
    background-color: white;
    height : 150px;
    width : 500px;
}