* {
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}
main {
    display: flex;
    align-items: center;

    justify-content: center;
    
}
.inp {
    padding-left: 350px;
    padding-top: 20px;
    position: relative;
}
.inp i {
    position: absolute;
    top : 38px;
    left : 370px;
}
.voi {
    height : 20px;
    width : 15px;
}
.inp .voi {
    position: absolute;
    top : 38px;
    left : 850px;
}
.pic {
    height : 20px;
    width : 15px;
}
.inp .pic {
    position: absolute;
    top : 38px;
    left : 890px;
    bottom : 2px;
}
.btn {
    margin-left: 38%;
    width : 300px;
    height : 90px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-radius: 5px;
    font-size: 1rem;
  
}
.lang {
    margin-left: 27%;
    width : 599px;
    font-size : 14px;
    display : flex;
    align-items: center;
    justify-content: space-between;
}
button {
    height : 35px;
    width : 140px;
    background: rgb(128, 128, 128, 0.1);
    border : none;
    color : black;
}
.top-right {
    
    display: flex;
    justify-content: end;
}
#inp {
    
    height : 50px;
    width : 580px;
    border : 1px solid gray;
    border-radius: 30px;
}
a {
    color : black;
    text-decoration: none;
}
.right {
    display: flex;
    align-items: center;
}
.left {
    display: flex;
    align-items: center;
    
}
.footer{
    display: flex;
    background-color: #e3e3e3;
    border : 1px solid #d3d3d3;
    bottom: 0px;
    position: fixed;
    width: 100%;
    height: 8vh;
    
}
.footer1{
    display: flex;
    background-color: #e3e3e3;
    border : 1px solid #e3e3e3;
    bottom: 45px;
    position: fixed;
    width: 100%;
    height: 8vh;
    
}

