*{
  padding: 0px;
  box-sizing: border-box;
  margin: auto;
}
body {
  font-family: 'Roboto', sans-serif;
  color : #734F6B;
  background-color: white;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
}
header{
  background-color: #C3C3C3;
  text-align: center;
  height: 47vh;
  padding : 5vh;
}
hr {
  height: 1px;
  background-color: darkslategrey;
  color : darkslategray;
  border: none;
}
h1{
  /*text-shadow: 0px 0px 10px gray;*/
  padding: 8vh;
  padding-left: 40vh;
  padding-bottom: 3vh;
  font-size: 320%;
}
h3 {
  text-align: left;
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 20px;
  letter-spacing: 3px;
}
h4 {

  padding-left: 20px;
  padding-top: 15px;
  padding-right: 20px;
  
}
a {
  color: darkslategray;
  text-decoration: none;
}
main{
height: 1700vh;
background-color: #C3C3C3;
}
table {
  font-size: 15px;
}
.left, .right{
/*border: 1px solid black;*/
height: 1700vh;

}

.left{
float: left;
width: 30%;
border-radius: 10px;
background : linear-gradient( 180deg,#B3B3B3, #B7B7B7);
background-repeat : no-repeat;
background-position : center;
background-attachment : fixed;
overflow: hidden;
overflow-wrap: break-word;
}
.right{
float: right;
width: 70%;
border-radius: 10px;
overflow: hidden;
overflow-wrap: break-word;

}

li {
  padding-top : 15px;
  color: #734F6B;
}
li span {
  color: darkslategrey;
}



/*.footer{
  background-color: #C3C3C3;
  border : 1px solid black;
  bottom: 0px;
  position: fixed;
  width: 100%;
  height: 5vh;
  text-align: center;
  margin-right: 200px;
}*/
